Your account was successfully created. Please click the link below<br>
to confirm your email address and activate your account:

<p>
    <a href="{{ confirm_url }}">{{ confirm_url }}</a>
</p>

<p>
    --<br>
    Questions? Comments? We don't care
</p>